TIMEOUT_SECONDS=8
TIME_ROTATE_IMAGE_S=8
FAILED_MEDIA_COOLDOWN_S=13
CDS_RETRY_SECONDS=60
API_URL_CDS="http://localhost:3000/api/"
DATABASE_URL="sqlserver://182.10.2.2:1433;database=user;user=sa;password=pass;encrypt=false;trustServerCertificate=true"DB_USER="sa"
DB_PASSWORD="pass"
DB_NAME="user"
DB_USER="sa"
DB_HOST="182.10.2.2"
DB_PORT="1433"
MASTER_KEY="vZ3x9asasdasdaksdjasdQp7sA4tR8mN6yL2wH0uB5cF1dK8"