<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirigir Raíz a Check" stopProcessing="true">
                    <match url="^$" />
                    <action type="Redirect" url="/check" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler"
                resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="C:\Program Files\nodejs\node.exe"
            arguments=".\server.js"
            startupTimeLimit="60"
            stdoutLogEnabled="true"
            stdoutLogFile=".\logs\stdout.log">
            <environmentVariables>
                <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
                <environmentVariable name="NODE_ENV" value="production" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>