@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-locatel-oscuro: #007853;
  --color-locatel-medio: #00953b;
  --color-locatel-claro: #76bc43;

  --color-locatel-oro: #ffa400;
  --color-locatel-naranja: #ff671d;
  --color-locatel-morado: #9e28b5;

  --color-locatel-guia: #2a5b48;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}